<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Grades :: Novo Questionário</title>
    <!-- fontes do google -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- css do materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body class="light-blue lighten-5">
    <nav>
        <div class="nav-wrapper light-blue lighten-1">
            <a class="brand-logo center" style="font-size: 40px; font-weight: bold;">
                GRADES
            </a>
        </div>
    </nav>
</body>
</html>